<div class="button_bar">
    <button class="back"> Back</button>
    <div class="find_country">
      <input type="text" name="find" id="finder" #finder  placeholder="Search for a country..."/> 
      <img src="assets/icons/lupe.svg" (click)="serachContrybyName(finder.value)" class="find_button" />
    </div>
    <select name="filter" id="filter" #filter (change)="selectOnChange(filter.value)">
        <!-- <select name="filter" id="filter"> -->
      <option value="All">Filter by region</option>
      <option value="All">Whole World</option>
      <option value="Europe">Europe</option>
      <option value="Americas">Americas</option>
      <option value="Asia">Asia</option>
      <option value="Africa">Africa</option>
      <option value="Antarctic">Antarctic</option>
      <option value="Oceania">Oceania</option>
    </select>
  </div>

<div class="country-wrapper" >

    <div  class="country" *ngFor="let country of countryList"  [routerLink]="['country-detail/', country.ccn3]">

        <img class="flag" src="{{ country?.flags?.png}}" alt="some flag">
        <h1 class="country__head">{{ country?.name?.common}}</h1>
        <!-- <h1 class="country__head">{{ url }}</h1> -->
        <!-- <a routerLink="['/details', kraje.name]" >detail</a> -->
        <!-- <a>Learn More</a> -->
        <p class="country__people"><span class="bold">Poulation: </span><span> {{ country?.population }}</span></p>
        <p class="country__region"><span class="bold">Region: </span><span class="region">{{ country?.region}}</span>
        </p>
        <p class="country__capital"><span class="bold">Capital: </span><span>{{ country?.capital}}</span></p>
    </div>

</div>