.country {
    width: 300px;
    height: 400px;
    margin-bottom: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 3rem;
    transition: all 0.3s;
}


.country:hover {
    scale: 1.1;
}

.country img {
    width: 300px;
    height: 150px;
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid lightgray;
}

.button_bar {
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}

.country__head {
    padding: 0 30px;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.country__people {
    padding: 0 30px;
}

.country__region {
    padding: 0 30px;
}

.country__capital {
    padding: 0 30px;
}

.country-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
  }
  
  .find_button {
    width: 4rem;
    height: 2rem;
    position: absolute;
    left: 0.5rem;
    cursor: pointer;
}

#finder {
    padding: 2rem 2rem;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 5rem;
    font-size: 1.8rem;
}

.find_country {
    position: relative;
    align-items: center;
    display: flex;
}

#finder::placeholder {
    padding-left: 2rem;
}

.find_button {
    width: 4rem;
    height: 2rem;
    position: absolute;
    left: 0.5rem;
    cursor: pointer;
}

.moon-icon {
    width: 2rem;
}

.dark_mode {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.back {
    padding: 1.5rem 4.5rem;
    margin-left: 5rem;
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border: 1px solid lightgray;
    margin-left: 8rem;
    cursor: pointer;
    transition: all 0.2s;
}

.back:hover {
    scale: 1.1;
}

#filter {
    padding: 1rem 2rem;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 1.8rem;
}

.button_bar {
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}