nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5rem;
}

.nav__head {
    font-size: 3rem;
}

.nav__head  a{
    color: black;
    text-decoration: none;
}

.moon-icon {
    width: 2rem;
}

